<div class="tab-content">
  <!-- uiView:  --><div ui-view="" class="ng-scope"><div class="ng-scope">
  <div class="myAccountTitle">
    <h1 class="ng-binding">Dear, {{loggedInUser.fullname}}</h1>
    <span>What would you like to do today?</span>
  </div>
  <div class="col-lg-12">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="myAccount-ele-wrapper">
        <div class="homecricle">
          <i class="fa fa-file-text"></i>
        </div>
        <h3>Applications</h3>
        <p>Applications list which are assigned to you.
        </p>
        <div class="layout-sm-column layout-row">
          <button class="md-raised md-primary" ui-sref="channelPartner.dashboard.kreditcartApplications"><span>Check Now</span></button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="myAccount-ele-wrapper">
        <div class="homecricle">
          <i class="fa fa-rupee"></i>
        </div>
        <h3>Loans</h3>
        <p>List of running loans</p>
        <div class="layout-sm-column layout-row">
          <button class="md-raised md-primary" ui-sref="channelPartner.dashboard.loans"><span>Check Now</span></button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="myAccount-ele-wrapper">
        <div class="homecricle">
          <i class="fa fa-users"></i>
        </div>
        <h3>Leads</h3>
        <p></p>
        <div class="layout-sm-column layout-row">
          <button class="md-raised md-primary" ui-sref="channelPartner.dashboard.leads" ><span>Check Now</span></button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
