<div id="aboutUs">
    <div class="container">
        <div class="col-sm-12 col-xs-12">
            <div class="row">
                <div class="mid-con-rw">
                    <div class="abt-top-rw">
                        <div class="what-we-do-heading">
                            <h3 class="contactUs">FundsCorner</h3>
                        </div>
                        <div class="what-we-do-txt justify-80 width-75">
                            FundsCorner is a digital lending company which aims to provide working capital
                            finance to small businesses in India in a simple, easy and transparent manner. Our endeavour is to partner with the SMEs to offer flexible, short term loans to meet their funding requirements so that they can focus on the
                            business. </br> </br>
                        </div><div class="what-we-do-txt justify-80 width-75">
                            FundsCorner is the trade name of Rajkamal Leasing and Investments Private Limited, an NBFC
                            Company registered with RBI.
                        </div>

                    </div>
                </div>
				</div>
				<div class="row">
			   <div class="mid-con-rw margin-top">
                    <div class="abt-top-rw">
                        <div class="what-we-do-heading">
                            <h3 class="contactUs small-h m-b-5">Our Endeavor</h3>
                        </div>
                        <div class="what-we-do-txt justify-80 endeavor-text">
                            <i class="text-center">To make Working Capital accessible to Small Businesses in a seamless manner</i>
                        </div>
                    </div>
                </div>

            </div>
                </div>
				</div>
				
				<div class="mid-con-rw margin-top fluid-cont" id="teams">
                    <div class="abt-top-rw">
                        <div class="what-we-do-heading">
                            <h3 class="contactUs">Team</h3>
                        </div>
                        <div class="Team-con-list">
                            <div class="Team-con-list-rw ">
                                <div class="team-list-img">
                                    <img src="../images/team-img-1.jpg" alt="team-img-1">
                                    <div class="Team-con-list-txt">
                                        <div class="team-list-top-txt">
                                            <h3><a href="#">Vijay Ajmera</a></h3>
                                            <p class="text-align-center-imp">CEO & Co-Founder</p>
                                        </div>
                                        <div class="team-list-botm-txt">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td width="100%" height="180" align="center" valign="middle">
                                                        <div class="team-mail"><a href="mailto:vijay@fundscorner.com">vijay@fundscorner.com</a></div>
                                                        <div class="team-social-icon">
                                                            <table align="center" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td><a href="https://www.linkedin.com/in/vijayajmera" target="_blank" class="twitter-icon-team linked-in" title="Linked in profile"></a><a href="https://twitter.com/vijay_ajmera" target="_blank" class="twitter-icon-team" title="Twitter profile"></a><a href="mailto:vijay@fundscorner.com"  target="_blank" class="twitter-icon-team email" title="Email address"></a></td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-list-txt-rw">
                                    <p class="text-align-center-imp">A Chartered Accountant with 14+ years of experience in finance and senior leadership roles across IT, Media, E-commerce and Financial Services. </p>
                                </div>
                            </div>
                            <div class="Team-con-list-rw">
                                <div class="team-list-img">
                                    <img src="../images/team-img-2.jpg" alt="team-img-2">
                                    <div class="Team-con-list-txt">
                                        <div class="team-list-top-txt">
                                            <h3><a href="#">Srihari Adurty</a></h3>
                                            <p class="text-align-center-imp">CRO & Co-Founder</p>
                                        </div>
                                        <div class="team-list-botm-txt">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td width="100%" height="180" align="center" valign="middle">
                                                        <div class="team-mail"><a href="mailto:srihari@fundscorner.com">srihari@fundscorner.com</a></div>
                                                        <div class="team-social-icon">
                                                            <table align="center" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td><a href="https://www.linkedin.com/in/srihari-adurty-2a16279" target="_blank" class="twitter-icon-team linked-in" title="Linked in profile"></a><a target="_blank" href="https://twitter.com/SAdurty" class="twitter-icon-team" title="Twitter profile"></a><a target="_blank" href="mailto:srihari@fundscorner.com" class="twitter-icon-team email" title="Email address"></a></td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-list-txt-rw">
                                    <p class="text-align-center-imp">
                                        An INSEAD Business School Alumni & a Senior Risk Management Executive with 14+ years of experience in leadership and managerial roles as Head of Operations in
                                        Banking, Microfinance, Credit Risk Management in India & Singapore.
                                    </p>
                                </div>
                            </div>
                            <div class="Team-con-list-rw">
                                <div class="team-list-img">
                                    <img src="../images/team-img-3.jpg" alt="team-img-3">
                                    <div class="Team-con-list-txt">
                                        <div class="team-list-top-txt">
                                            <h3><a href="#">Ganapathy Swaminathan</a></h3>
                                            <p class="text-align-center-imp">COO & Co-Founder</p>

                                        </div>
                                        <div class="team-list-botm-txt">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td width="100%" height="180" align="center" valign="middle">
                                                        <div class="team-mail"><a href="mailto:ganapathy@fundscorner.com">ganapathy@fundscorner.com</a></div>
                                                        <div class="team-social-icon">
                                                            <table align="center" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td><a href="https://www.linkedin.com/in/ganapathyswaminathan" target="_blank" class="twitter-icon-team linked-in" title="Linked in profile"></a><a target="_blank" href="https://twitter.com/sganatweets" class="twitter-icon-team" title="Twitter profile"></a><a target="_blank" href="mailto:ganapathy@fundscorner.com" class="twitter-icon-team email" title="Email address"></a></td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-list-txt-rw">
                                    <p class="text-align-center-imp">An INSEAD Business School Alumnus & a Seasoned banking technology Executive with 15+ years of experience in Management & Consulting roles across Western Europe & South East Asia. </p>
                                </div>
                            </div>
							<div class="clearfix"></div>
						</div>

                    </div>
                </div>
               
				

 <div class="container">
        <div class="col-sm-12 col-xs-12">
            
            <div class="row">
                <div class="mid-con-rw">
                    <div class="how-it-rw padd-top-none m-t-90">
                        <div class="what-we-do-heading">
                            <h3 class="contactUs">Current Market Scenario</h3>
                        </div>
                        <div class="pain-points-bg">
                            <div class="left-pain-list">
                                <div class="pain-list-rw slow-processing">
                                    <div class="pain-list-img"><img src="../images/icon-pain.png" alt="icon"></div>
                                    <div class="pain-list-txt">
                                        <h3>Slow Processing</h3>
                                        <ul class="pain-list-txt-rw">
                                            <li>Heavy Documentation / Long Approval Time</li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="pain-list-rw low-transparency">
                                    <div class="pain-list-img"><img src="../images/icon-pain-2.png" alt="img"></div>
                                    <div class="pain-list-txt">
                                        <h3>Collateral Requirements</h3>
                                        <ul class="pain-list-txt-rw">
                                            <li>Does not consider business cashflows</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="right-pain-list">
                                <div class="pain-list-rw funding-mismatch">
                                    <div class="pain-list-img"><img src="../images/icon-pain-1.png" alt="icon"></div>
                                    <div class="pain-list-txt">
                                        <h3>Vintage Requirements</h3>
                                        <ul class="pain-list-txt-rw">
                                            <li>No room for New Age businesses & Niche Industry segments </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="pain-list-rw rigid-loan">
                                    <div class="pain-list-img"><img src="../images/icon-pain-3.png" alt="icon"></div>
                                    <div class="pain-list-txt">
                                        <h3>Rigid Loan Products</h3>
                                        <ul class="pain-list-txt-rw">
                                            <li>Fixed Tenor & Sizes</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="how-it-rw m-t-90 m-b-50">
                        <div class="what-we-do-heading">
                            <h3 class="contactUs">Our Solution</h3>
                        </div>
                        <div class="solution-bg">
                            <div class="solution-bg-round">
                                <div class="solution-step blue-bg">
                                    <div class="solution-step-icon">
                                        <div class="solution-step-rw"><img src="../images/solution-icon-4.png" alt="icon"></div>
                                        <div class="solution-step-num">1</div>
                                    </div>
                                    <div class="solution-step-txt">
                                        <p>
                                            Is a digital lending company providing Working Capital Loans to the emerging <span>New-age Businesses</span> that are underserved in India
                                        </p>
                                    </div>
                                </div>
                                <div class="solution-step redbg">
                                    <div class="solution-step-icon">
                                        <div class="solution-step-rw"><img src="../images/solution-icon-2.png" alt="icon"></div>
                                        <div class="solution-step-num">2</div>
                                    </div>
                                    <div class="solution-step-txt">
                                        <p>
                                            Using Proprietary Technology Platform to provide Flexible & Customized Loan Products
                                        </p>
                                    </div>
                                </div>
                                <div class="solution-step green-bg">
                                    <div class="solution-step-icon">
                                        <div class="solution-step-rw"><img src="../images/solution-icon-3.png" alt="icon"></div>
                                        <div class="solution-step-num">3</div>
                                    </div>
                                    <div class="solution-step-txt">
                                        <p>
                                            Swift Credit Approvals based on Alternate Data Points instead of collaterals
                                        </p>
                                    </div>
                                </div>
                                <div class="solution-step yellow-bg">
                                    <div class="solution-step-icon">
                                        <div class="solution-step-rw"><img src="../images/solution-icon-1.png" alt="icon"></div>
                                        <div class="solution-step-num">4</div>
                                    </div>
                                    <div class="solution-step-txt">
                                        <p>
                                            Available at your Door-Step
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>