
<div id="team">
   <div class="container">
      <h3 class="contactUs">My Loans</h3>
	  
	  
	  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" target="_self" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          What kind of Loans does Fundscorner provide?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Fundscorner provides loans to Small businesses who sell online or receive payments through any online mode like Card swipe machines (POS) or wallet based payments. 
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" target="_self" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Does Fundscorner provide loans like personal loans, consumer durable loans , two wheeler loans?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        No Fundscorner only provides loans for business purposes.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" target="_self" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          What is maximum and minimum loan amount I can borrow from FundsCorner?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Loan amount ranges from Rs.30,000 to Rs.10 Lakhs. The eligible amount is determined based on the Credit Profiling of the borrower.  
      </div>
    </div>
  </div>
  
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" target="_self" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          What is the loan tenure? 
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        Loans are offered for a short term duration ranging from 15 days to 12 months. Loan tenure is customized for each Loan Product and borrower.   
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" target="_self" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          What is the mode of repayment?  
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
        The mode of repayment is via NACH , Cheques or an escrow arrangement made with our bank.  
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" role="button" target="_self" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          My business is less than 1 year old. Can I still get loan? 
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">
        Yes. 
      </div>
    </div>
  </div>
  
  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSeven">
      <h4 class="panel-title">
        <a class="collapsed" role="button" target="_self" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          How long does it take to fill the application? 
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
      <div class="panel-body">
        It would take less than 5 minutes to complete the online application and upload documents.
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingEight">
      <h4 class="panel-title">
        <a class="collapsed" role="button" target="_self" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
         What documents I need to upload while applying the loan?
        </a>
      </h4>
    </div>
    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
      <div class="panel-body">
        PAN Card, Address Proof, 6 Months Bank Statement  
      </div>
    </div>
  </div>
  
  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingNine">
      <h4 class="panel-title">
        <a class="collapsed" role="button" target="_self" data-toggle="collapse" data-parent="#accordion" 
		href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          How do I find if I am eligible for a loan?
        </a>
      </h4>
    </div>
    <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
      <div class="panel-body">
        You need to be a registered business in India with Minimum turnover of  Rs 30,000 p.m for the last 3 months to be eligible for a loan.  
      </div>
    </div>
  </div>
  
  
  <!-- <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading10">
      <h4 class="panel-title">
        <a class="collapsed" role="button" target="_self" data-toggle="collapse" data-parent="#accordion" 
		href="#collapse10" aria-expanded="false" aria-controls="collapse10">
          How do I find if I am eligible for a loan?
        </a>
      </h4>
    </div>
    <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
      <div class="panel-body">
        You need to be a registered business in India with Minimum. Turnover of  Rs 30,000 p.m for the last 3 months to be eligible for a loan.  
      </div>
    </div>
  </div> -->
  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading11">
      <h4 class="panel-title">
        <a class="collapsed" role="button" target="_self" data-toggle="collapse" data-parent="#accordion" 
		href="#collapse11" aria-expanded="false" aria-controls="collapse11">
          How quickly will I get the approval decision?
        </a>
      </h4>
    </div>
    <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
      <div class="panel-body">
        You will be notified of the approval decision within 4 hours of submission of loan application.  
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading12">
      <h4 class="panel-title">
        <a class="collapsed" role="button" target="_self" data-toggle="collapse" data-parent="#accordion" 
		href="#collapse12" aria-expanded="false" aria-controls="collapse12">
          How quickly will the loan be disbursed?
        </a>
      </h4>
    </div>
    <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
      <div class="panel-body">
        Within 24 hours of loan documentation.  
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading13">
      <h4 class="panel-title">
        <a class="collapsed" role="button" target="_self" data-toggle="collapse" data-parent="#accordion" 
		href="#collapse13" aria-expanded="false" aria-controls="collapse13">
          Can I prepay & foreclose the loan before the end of the loan term?
        </a>
      </h4>
    </div>
    <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13">
      <div class="panel-body">
        Yes, without any prepayment penalty.
      </div>
    </div>
  </div>
  
  
</div>
   <h3 class="contactUs">About Us</h3>
<!-- About Us -->
<div class="panel-group" id="accordionAboutUs" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="aboutUsHeading1">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" target="_self" data-parent="#accordionAboutUs" href="#collapseAU1" aria-expanded="true" aria-controls="collapseOne">
          What is FundsCorner?
        </a>
      </h4>
    </div>
    <div id="collapseAU1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="aboutUsHeading1">
      <div class="panel-body">
        FundsCorner is a digital lending company which aims to provide working capital finance to small businesses in India in a simple, easy and transparent manner. Our endeavour is to partner with the SMEs to offer flexible, short term loans to meet their funding requirements so that they can focus on the business.
FundsCorner is the trade name of Rajkamal Leasing and Investments Private Limited, an NBFC Company registered with RBI.

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="aboutUsHeading2">
      <h4 class="panel-title">
        <a class="collapsed" role="button" target="_self" data-toggle="collapse" data-parent="#accordionAboutUs" 
		href="#collapseAU2" aria-expanded="false" aria-controls="collapseTwo">
          Where is FundsCorner registered?
        </a>
      </h4>
    </div>
    <div id="collapseAU2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="aboutUsHeading2">
      <div class="panel-body">
       FundsCorner’s registered Office is in Hyderabad 
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="aboutUsHeading3">
      <h4 class="panel-title">
        <a class="collapsed" role="button" target="_self" data-toggle="collapse" data-parent="#accordionAboutUs" 
		href="#collapseAU3" aria-expanded="false" aria-controls="aboutUsHeading3">
          What kind of businesses does FundsCorner lend to?
        </a>
      </h4>
    </div>
    <div id="collapseAU3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Refer <a href="#/products">Products</a>  
      </div>
    </div>
  </div>
  
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="aboutUsHeading4">
      <h4 class="panel-title">
        <a class="collapsed" role="button" target="_self" data-toggle="collapse" data-parent="#accordionAboutUs" 
		href="#collapseAU4" aria-expanded="false" aria-controls="aboutUsHeading4">
         How do i check the status of my loan application?
        </a>
      </h4>
    </div>
    <div id="collapseAU4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="aboutUsHeading4">
      <div class="panel-body">
        You can check the current status of your loan application from the “Dashboard” using our FundsCorner customer portal. You may also answer queries or provide additional documents as required through the FundsCorner Customer portal itself.    
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="aboutUsHeading5">
      <h4 class="panel-title">
        <a class="collapsed" role="button" target="_self" data-toggle="collapse" data-parent="#accordionAboutUs" href="#collapseAU5" aria-expanded="false" aria-controls="collapseFive">
          How do i check my loan outstanding balance?  
        </a>
      </h4>
    </div>
    <div id="collapseAU5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="aboutUsHeading5">
      <div class="panel-body">
        You can get all the information about loan like payment schedule, interest rate, outstanding balance and other key information related information related to your loans through our FundsCorner Customer portal.   
      </div>
    </div>
  </div>
  
  
  
</div>








</div>
</div>