<div id="productspage">
    <div class="container">
        <div class="col-lg-12">
            <div class="workingCapital" id="online-merchant-loans">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="workingCapitalImages"><img src="../images/online_merchant_loan.jpg" alt="Online Merchant Loan"> </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="workingCapitalTitle">
                            <h1>Online Merchant Loan</h1>
                            <p class="sub-hd">Loan for merchants who sell online</p>
                            <p class="product-data"><label>Purpose:</label><span>Business Expansion, Cash flow management</span></p>
                            <p class="product-data"><label>Benefits:</label><span>No Collateral, No prepayment penalty, Minimal Documentation, Disbursement within 3 days</span></p>
                            <p class="product-data"><label>Documents:</label><span>PAN Card, Address Proof and 6 months Bank Statement</span></p>
                        </div>
                        <div class="workingCapitalTable">
                            <table class="table blue-hdr-table">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th style="text-align:center">Loan Type</th>
                                        <th style="text-align:center">Tenure</th>
                                        <th style="text-align:center">Loan Amount</th>
                                        <th style="text-align:center">Min. Turnover </br>(Last 3 months)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-label="Loan Type">Short Term (ST) Loan,</br>On-Demand (OD) Loan</td>
                                        <td data-label="Tenure">2 months – 12 months</td>
                                        <td data-label="Loan Amount">Rs 30,000 – Rs 10 Lakhs</td>
                                        <td data-label="Min. Turnover">Online sale of</br>Rs 30,000 p.m.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="workingCapital " id="pos-merchant-loans">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="workingCapitalImages"><img src="../images/pos.jpg" alt="POS/Wallet Merchant Loan"> </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="workingCapitalTitle">
                            <h1>POS/Wallet Merchant Loan</h1>
                            <p class="sub-hd">Loan for merchants using EDC/POS Machines or e-wallets for sales</p>
                            <p class="product-data"><label>Purpose:</label><span>Loan against future receivables</span></p>
                            <p class="product-data"><label>Benefits:</label><span>No Collateral, No prepayment penalty, Minimal Documentation, Disbursement within 3 days</span></p>
                            <p class="product-data"><label>Documents:</label><span>PAN Card, Address Proof and 6 months Bank Statement, POS statement</span></p>
                        </div>
                        <div class="workingCapitalTable">

                            <table class="table blue-hdr-table">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th style="text-align:center">Loan Type</th>
                                        <th style="text-align:center">Tenure</th>
                                        <th style="text-align:center">Loan Amount</th>
                                        <th style="text-align:center">Min. Turnover</br>(Last 3 months)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-label="Loan Type">Short term (ST) loan,</br>On-Demand (OD) loan</td>
                                        <td data-label="Tenure">2 months – 12 months</td>
                                        <td data-label="Loan Amount">Rs 30,000 – 10 Lakhs</td>
                                        <td data-label="Min. Turnover">Rs 30,000 p.m. through</br>EDC/POS/e-Wallet</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="workingCapital " id="purchase-order-loans">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="workingCapitalImages"><img src="../images/purchase_order_loan.jpg" alt="Purchase Order Loan"> </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="workingCapitalTitle">
                            <h1>Purchase Order Loan</h1>
                            <p class="sub-hd">Loan for merchants to purchase inventory</p>
                            <p class="product-data"><label>Purpose:</label><span>Purchase Inventory where merchant has raised a Purchase Order(PO) or has received a client order</span></p>
                            <p class="product-data"><label>Benefits:</label><span>No Collateral, No prepayment penalty, Minimal Documentation, Disbursement within 3 days</span></p>
                            <p class="product-data">
                                <label>Documents:</label><span>
                                    PAN Card, Address Proof and 6 months Bank Statement, Confirmed
                                    purchase order or Client Order
                                </span>
                            </p>
                        </div>
                        <div class="workingCapitalTable">

                            <table class="table blue-hdr-table">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th style="text-align:center">Loan Type</th>
                                        <th style="text-align:center">Tenure</th>
                                        <th style="text-align:center">Loan Amount</th>
                                        <th style="text-align:center">Min. Turnover</br>(Last 3 months)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-label="Loan Type">Short Term (ST) Loan,</br>On-Demand (OD) Loan</td>
                                        <td data-label="Tenure">15 days – 90 days</td>
                                        <td data-label="Loan Amount">Rs 30,000 – Rs 10 Lakhs</td>
                                        <td data-label="Min. Turnover">Rs 1,00,000 p.m</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="col-lg-12">
            <div class="workingCapital " id="purchase-order-loans">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="workingCapitalImages"><img src="../images/purchase_order_loan.jpg" alt="Purchase Order Loan"> </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="workingCapitalTitle">
                            <h1>Travel Agent</h1>
                            <p class="sub-hd">Loan for Travel Agent</p>
                            <p class="product-data"><label>Purpose:</label><span>Purchase Inventory where merchant has raised a Purchase Order(PO) or has received a client order</span></p>
                            <p class="product-data"><label>Benefits:</label><span>No Collateral, No prepayment penalty, Minimal Documentation, Disbursement within 3 days</span></p>
                            <p class="product-data">
                                <label>Documents:</label><span>
                                    PAN Card, Address Proof and 6 months Bank Statement, Confirmed
                                    purchase order or Client Order
                                </span>
                            </p>
                        </div>
                        <div class="workingCapitalTable">

                            <table class="table blue-hdr-table">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th style="text-align:center">Loan Type</th>
                                        <th style="text-align:center">Tenure</th>
                                        <th style="text-align:center">Loan Amount</th>
                                        <th style="text-align:center">Min. Turnover</br>(Last 3 months)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-label="Loan Type">Short Term (ST) Loan,</br>On-Demand (OD) Loan</td>
                                        <td data-label="Tenure">15 days – 90 days</td>
                                        <td data-label="Loan Amount">Rs 30,000 – Rs 10 Lakhs</td>
                                        <td data-label="Min. Turnover">Rs 1,00,000 p.m</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</div>