<div role="tabpanel" class="tab-pane" id="employerDetail" ng-show="employerDetails">
  <div class="loantitlereview">
    <ul>
      <li><strong>Employer Business Name : </strong>{{employerDetails.employer_business_name}} </li>
      <li><strong>Constitution of the Company : </strong>{{employerDetails.constitution}}</li>
      <li><strong>Business Type : </strong>{{employerDetails.business_type}}</li>
    </ul>
    <ul>
      <li><strong>Industry : </strong>{{employerDetails.industry}} </li>
      <li><strong>Employer Sub-Industry :</strong>{{employerDetails.sub_industry}}</li>
      <li><strong>No. of Years with Current Employer :</strong> {{employerDetails.current_employer_year}}</li>
    </ul>
    <ul>
      <li><strong>Your Official Email ID: </strong>{{employerDetails.official_email}}</li>
      <li><strong>Address: </strong>{{employerDetails.address_lin1}}  {{employerDetails.address_lin2}}</li>
      <li><strong>Pin code: </strong>{{employerDetails.pin}}</li>
    </ul>
    <ul>
      <li><strong>City : </strong>{{employerDetails.city}}</li>
      <li><strong>State :</strong>{{employerDetails.state}}</li>
      <li><strong>Employer Phone Number :</strong> {{employerDetails.phone}}</li>
    </ul>
  </div>
</div>
